{% extends "base.html" %}
{% load staticfiles %}

    {% block content %}
   <div class="container-fluid">
   <div class="row">
     <div class="col-lg-6">
       <div class="thumbnail">
         <img src="/static/images/temp/x.png" alt="..." id="#display">
         
        </div>
       </div>
       </div>
   </div>
   <div class="container-fluid">
   <div class="row">
     <div class="col-lg-6">

         <a href="../plotFitting/P2011_load/" class="btn btn-primary btn-lg inactive" role="button" aria-pressed="true">P2011</a>
        </div>
       </div>
       </div>
   </div>
   
    {% endblock %}    