{% extends "base.html" %}
{% load staticfiles %}

    {% block content %}
   <div class="container-fluid">
   <div class="row">
     <div class="col-lg-6">
         <h3>Models</h3>
         <a href="../P2011_load" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">P2011</a>
         <a href="../P2011_load" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">F2014</a>
         <a href="../P2011_load" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">C2016</a>
         <a href="../P2011_load" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">U2017</a>
         <a href="../plotFitting" class="btn btn-warning btn-lg inactive" role="button" aria-pressed="true">Plot</a>
         
        </div>
       </div>
       </div>
   </div>
   
    {% endblock %}    